!!!
%html
  %head
    %title Menus
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    #pageContainer
      %header#pageHeader
        %a.account LOGIN
        = render 'shared/top_section'
      %nav
        This is the nav
      #contentContainer
        %section
          = yield
        %aside
          This is the aside
        %nav#radialNav
          = render 'shared/navigation'
      %footer#pageFooter
        This is the footer
